.row {
  @include transition(all .3s);
  @include box-sizing(border-box);

 
  width: 100%;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
  will-change: flex-basis, width, height;


  &.top{
    align-items: flex-start;
  }
  &.bot {
    align-items: flex-end;
  }
  &.mid {
    align-items: center;
  }
  &.start {
    justify-content: flex-start;
  }
  &.end {
    justify-content: flex-end;
  }
  &.center {
    justify-content: center;
  }
  &.between {
    justify-content: space-between;
  }
  &.around {
    justify-content: space-around;
  }
}