@import 'const';


$i: 1;
@while $i <= $num-cols {
	$perc: unquote((100 / ($num-cols / $i)) + "%");
	.fb#{$i}{
		flex-basis: $perc;
	}
  $i: $i + 1;
}

.col{
	 	$i: 1;
	    @while $i <= $num-cols {
	      $perc: unquote((100 / ($num-cols / $i)) + "%");
	      &.s#{$i}-top{
	        align-self: flex-start;
	        flex-basis: $perc;  
	      }
	      &.s#{$i}-bot {
	        align-self: flex-end;
	        flex-basis: $perc;  
	      }
	      &.s#{$i}-mid {
	        align-self: center;
	        flex-basis: $perc;  
	      }
	      $i: $i + 1;
	    } 
	    @media #{$medium-and-up} {
	      $i: 1;
	      @while $i <= $num-cols {
	      $perc: unquote((100 / ($num-cols / $i)) + "%");
	        &.m#{$i}-top{
	          flex-basis: $perc;  
	          align-self: flex-start;
	        }
	        &.m#{$i}-bot {
	          flex-basis: $perc;  
	          align-self: flex-end;

	        }
	        &.m#{$i}-mid {
	          flex-basis: $perc;  
	          align-self: center;
	        }
	        $i: $i + 1;
	      } 
	    }

	    @media #{$large-and-up} {

	      $i: 1;
	      @while $i <= $num-cols {
	        $perc: unquote((100 / ($num-cols / $i)) + "%");
	        &.l#{$i}-top{
	          align-self: flex-start;
	          flex-basis: $perc;  
	        }
	        &.l#{$i}-bot {
	          align-self: flex-end;
	          flex-basis: $perc;  

	        }
	        &.l#{$i}-mid {
	          align-self: center;
	          flex-basis: $perc;  
	        }
	        $i: $i + 1;
	      } 
	    }
  }